/* Any demo specific styling needed for this tutorial only */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

#viewsChart {
	width: 550px;
	height: 550px;
}

.claro .cssInputConsole {
	position:relative;
	font-family: courier;
	font-size: 14px;
	background-color: white;
	color: blue;
	padding: 0px;
	overflow: hidden;
	height: 20px;
	cursor:text;
	width: 100%;
}

.claro .cssOutputScroll {
	overflow: auto;
	position:relative;
	font-family: courier;
	font-size: 14px;
	background-color: black;
	color: #21f838;
	padding: 5px;
	height: 20px;
	cursor:text;
	width: 100%;
}

a {
	color: white;
}