html {
  background-color: #eee;
}


body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

.term_wrapper {
  position: relative;
  background-color: #000;
  left: 5%;
  width: 90%;
  min-height: 550px;
  max-height: 550px;
}

.ctrl_wrapper {
  position: relative;
  background-color: #eee;
  left: 5%;
  width: 90%;
  padding-bottom: 20px;
}

.term {
  position: relative;
  left: 2%;
  width: 96%;
  min-height: 530px;
  max-height: 530px;
}

div#campus.term.terminal {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.terminal .terminal-output div span {
  color: #9A9;
}

.terminal-output {
  color: #090;
}

.cmd {
  color: #AFA;
}

