html {
  background-color: #eee;
}


body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

.term_wrapper {
  position: relative;
  background-color: #000;
  left: 10%;
  width: 80%;
  min-height: 400px;
  min-height: 500px;
}

.ctrl_wrapper {
  position: relative;
  background-color: #eee;
  left: 10%;
  width: 80%;
  padding-bottom: 20px;
}

.term {
  position: relative;
  left: 5%;
  width: 90%;
  min-height: 100%;
  max-height: 500px;
}

.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

